.container {
	max-width: 864px;
	margin: 0 auto;
	padding: 0 .75em;
}

// flexbox

	.flex-container {
		@include flex-container;
	}

	.flex-container-vc {
		@include flex-container;
		@include flex-container-vc;
	}

	.flex-width-item {
		@include flex-width-item;
	}


// no gutter

	[class*="grid-"],
	[class*="grid-"] > * {
		margin-left: 0;
	}

	[class*="-gutter"] {
		margin-left: -$gutter;

		@include rwd-max-width( $screen-md ) {
			margin-left: 0;
		}
	}

	[class*="-gutter"] > * {
		margin-left: $gutter;

		@include rwd-max-width( $screen-md ) {
			margin-left: 0;
		}
	}

	@for $i from 1 through 12 {
		[class*="grid-#{$i}"] {
			@include grid($i, 0rem);
		}
		[class*="grid-#{$i}-gutter"] {
			@include grid($i, $gutter);
		}
	}

// no gutter

	[class*="grid-2-1"] {
		@include uneven-grid(2,1,0rem);
	}

	[class*="grid-1-2"] {
		@include uneven-grid(1,2,0rem);
	}

	[class*="grid-3-1"] {
		@include uneven-grid(3,1,0rem);
	}

	[class*="grid-1-3"] {
		@include uneven-grid(1,3,0rem);
	}

	[class*="grid-3-2"] {
		@include uneven-grid(3,2,0rem);
	}

	[class*="grid-2-3"] {
		@include uneven-grid(2,3,0rem);
	}

	[class*="grid-4-1"] {
		@include uneven-grid(4,1,0rem);
	}

	[class*="grid-1-4"] {
		@include uneven-grid(1,4,0rem);
	}

	[class*="grid-1-8"] {
		@include uneven-grid(1,8,0rem);
	}

// gutter

	[class*="grid-2-1-gutter"] {
		@include uneven-grid(2,1);
	}

	[class*="grid-1-2-gutter"] {
		@include uneven-grid(1,2);
	}

	[class*="grid-3-1-gutter"] {
		@include uneven-grid(3,1);
	}

	[class*="grid-1-3-gutter"] {
		@include uneven-grid(1,3);
	}

	[class*="grid-3-2-gutter"] {
		@include uneven-grid(3,2);
	}

	[class*="grid-2-3-gutter"] {
		@include uneven-grid(2,3);
	}

	[class*="grid-4-1-gutter"] {
		@include uneven-grid(4,1);
	}

	[class*="grid-1-4-gutter"] {
		@include uneven-grid(1,4);
	}

	[class*="grid-1-8-gutter"] {
		@include uneven-grid(1,8);
	}

// width
	.w95 {
		width: 95%;
	}

	.w85 {
		width: 85%;
	}

	.w15 {
		width: 15%;
	}

	.w5 {
		width: 5%;
	}
