title Default title

meta(name="description" content="Poool accompagne les médias vers une meilleure monétisation de leur contenu premium.")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="HandheldFriendly", content="true")
meta(charset="UTF-8")

script(src="lib/ga.min.js")

//- link(rel="shortcut icon", href="path-icon-shortcut.jpg")
//- link(rel="apple-touch-icon", href="path-icon-apple-touch-icon.jpg")